<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let feature of features">
    <div fxFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <div fxFlex="grow">
        <span [matBadge]="feature.score" matBadgeOverlap="false">{{ feature.name }}</span>
      </div>
      <button mat-stroked-button color="primary"
              fxFlex="initial"
              (click)="vote(feature.id, 1)">
        +1
      </button>
      <button mat-stroked-button color="warn"
              fxFlex="initial"
              (click)="vote(feature.id, -1)">
        -1
      </button>
    </div>
  </mat-list-item>
</mat-list>
<a [routerLink]="['create']" class="button-add" mat-fab color="primary">
  <mat-icon>add</mat-icon>
</a>
