<form [formGroup]="formGroup" (ngSubmit)="manualSave()"
      fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field fxFlex="grow">
    <mat-label>Name</mat-label>
    <input matInput type="text" required [formControlName]="formControlNames.name">
    <mat-error *ngIf="formGroupErrors?.name?.required">
      Value required
    </mat-error>
  </mat-form-field>

  <mat-form-field fxFlex="grow">
    <mat-label>Description</mat-label>
    <textarea matInput [formControlName]="formControlNames.description">
    </textarea>
  </mat-form-field>

  <div fxFlex="grow"
       fxLayout="row" fxLayoutAlign="end center">
    <button type="submit" mat-flat-button color="primary">
      Save
    </button>
  </div>
</form>
